*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #EFE4CF;
}

.page-title {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;

}
.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
}


.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  border-radius: 1rem;
  border: none;
  background-color: #E3D7CA;
}

#clear {
  background-color: #DE6228;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color:#111D4A;
  color: aliceblue;
}

.span-two {
  grid-column: span 2;
}


.output {
  grid-column: 1 / -1;
  background-color: #BFBFA1;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: black;
  font-size: 1.5rem;
}

.output .current-operand {
  color: black;
  font-size: 2.5rem;
}




.strings {
  position: fixed;
  width: 100%;
  left: 0;
}

.string {
  margin: 20px 0;
  width: 0%;
  height: 3px;
  background-color: #fff9fe;
  transform: rotate(-10deg);
  box-shadow: -0.1vw 0vw 0.25vw #DE6228, -0.2vw 0vw 0.25vw #DE6228, -0.4vw 0vw 0.25vw #DE6228, -0.1vw 0vw 1vw #DE6228, -0.2vw 0vw 0.8vw #DE6228, -0.4vw 0vw 0.8vw #DE6228, 0.2vw 0vw 0.5vw #DE6228, -0.1vw 0vw 10vw #DE6228, -0.2vw 0vw 10vw #DE6228, -0.4vw 0vw 10vw #DE6228; 
  animation: stringsLoad 2s forwards;
}

@keyframes stringsLoad {
  0% {
    width: 0;
  }
  10% {
    box-shadow: -0.2vw 0vw 0.5vw #DE6228, -0.4vw 0vw 0.5vw #DE6228, -0.8vw 0vw 0.5vw #DE6228, -0.2vw 0vw 2vw #DE6228, -0.4vw 0vw 1.6vw #DE6228, -0.8vw 0vw 1.6vw #DE6228, 0.4vw 0vw 1vw #DE6228, -0.2vw 0vw 20vw #DE6228, -0.4vw 0vw 20vw #DE6228, -0.8vw 0vw 20vw #DE6228; 
  }
  20% {
    height: 12px;
  }
  40% {
    height: 6px;
  }  
  50% {
    box-shadow: -0.2vw 0vw 0.5vw #DE6228;
  }  
  70% {
    box-shadow: -0.2vw 0vw 0.5vw #DE6228, -0.4vw 0vw 0.5vw #DE6228, -0.8vw 0vw 0.5vw #DE6228, -0.2vw 0vw 2vw #DE6228, -0.4vw 0vw 1.6vw #DE6228, -0.8vw 0vw 1.6vw #DE6228, 0.4vw 0vw 1vw #DE6228, -0.2vw 0vw 20vw #DE6228, -0.4vw 0vw 20vw #DE6228, -0.8vw 0vw 20vw #DE6228;     
  }
  80% {
    box-shadow: -0.2vw 0vw 0.5vw #DE6228;
  } 
  90% {
    box-shadow: -0.2vw 0vw 0.5vw #DE6228, -0.4vw 0vw 0.5vw #DE6228, -0.8vw 0vw 0.5vw #DE6228, -0.2vw 0vw 2vw #DE6228, -0.4vw 0vw 1.6vw #DE6228, -0.8vw 0vw 1.6vw #DE6228, 0.4vw 0vw 1vw #DE6228, -0.2vw 0vw 20vw #DE6228, -0.4vw 0vw 20vw #DE6228, -0.8vw 0vw 20vw #DE6228;     
  }
  99% {
    width: 105%; 
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}